In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
df=pd.read_csv("/home/aman-chaurasia/Documents/BostonHousing/BostonHousing.csv")

In [6]:
df

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [24]:
df.corr(numeric_only=True)

In [25]:
df.corr()

In [35]:
plt.figure(figsize=(15,10))
sns.heatmap(df.corr(numeric_only=True),cmap="coolwarm",annot=True)

In [16]:
sns.scatterplot(data=a,x="b",y="crim")

In [27]:
sns.pairplot(df)

In [8]:
sns.scatterplot(data=df,x="crim",y="indus")

In [6]:
test = df.iloc[:,:]
test

**before comma is a row and after comma is a column**

In [9]:
test=df.iloc[:,:]
test.shape

In [8]:
test=df.iloc[10:,:]
test.shape

In [10]:
test=df.iloc[10:20,:]
test.shape

**5 before : is used to take first 5 column**

In [17]:
test=df.iloc[:,5:]
test.shape

**5 after colon is used to take last 5 column**

In [15]:
test=df.iloc[0:10,:]
test.shape

In [18]:
test

In [ ]:
** if we like to take first 13 col

In [23]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [21]:
x=df.iloc[:,:13]
y=df["medv"]
train_x,test_x,train_y,test_y=train_test_split(
    x,y,random_state=10,test_size=0.3
)

In [24]:
lin_model = LinearRegression()  
lin_model.fit(pd.DataFrame(train_x),train_y)

In [25]:
train_x

In [26]:
train_y

In [27]:
test_x

In [28]:
test_y

In [29]:
predicted_values = lin_model.predict(pd.DataFrame(test_x))
plt.scatter(predicted_values,test_y)
plt.show()

In [32]:
predicted_values = lin_model.predict(pd.DataFrame(train_x))
plt.scatter(predicted_values,train_y)
plt.show()

**print mean square error and root mean square error and absolute error**

In [12]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error

# Load the Excel file (Replace 'your_file.xlsx' with your actual file name)
# Print first few rows to check data
print(df.head())

# Assuming two columns: 'Actual' and 'Predicted' exist in the Excel file
y_actual = df['crim'].values
y_pred = df['medv'].values

# Calculate MSE
mse = mean_squared_error(y_actual, y_pred)

print("Mean Squared Error:", mse)

In [18]:
import numpy as np
import pandas as pd
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [20]:
X = df.drop(columns=['medv'])
y = df['medv']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

In [22]:
x=df.drop(columns=['zn'])
y=df['zn']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=12)
model=LinearRegression()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
mse=mean_squared_error(y_test,y_pred)
print(mse)
#root mean squrae error
rmse=np.sqrt(mse)
print("the root mean square error are:",rmse)

**confusion matrix are:**
**true postitive,true negative ,false positive,false negative**

**false positive is an error **